<!DOCTYPE html>
<html lang="en">

<head>
    <title>Laravel Mercado Pago</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ignacio Agustin Martins Olivera">

    <link rel="shortcut icon" href="favicon.ico">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
        integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="body-green">
    <div class="page-wrapper">

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="branding">
                    <h1 class="logo">
                        <a href="index.html">
                            <span class="text-highlight">MercadoPago Laravel</span><span class="text-bold">Docs</span>
                        </a>
                    </h1>

                </div>

                <small>By: <a href="#">Ignacio Martins</a></small>

                <div class="top-search-box">
                    <a href="https://github.com/ignacioam/mercadopago-laravel" target="_blank"><i class="fab fa-github pt-3 mr-2 text-white" style="font-size: 35px;"></i></a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            v1.0.0
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Dev</a>
                            <a class="dropdown-item" href="#">v1.0.0</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End header -->

        <div class="doc-wrapper">
            <div class="container">

                <!-- Header item -->
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Instalación</h1>
                    <div class="meta"><i class="far fa-clock"></i> Ultima actualización: Enero 18, 2020</div>
                </div>
                <!-- End header item -->

                <div class="doc-body row">
                    <!-- Contenido -->
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <!-- Contenido -->

                            <!-- Sub menú -->
                            <ul class="sub-menu-section">
                                <li>
                                    <a href="#installation" class="title">Instalación</a>
                                    <ul>
                                        <li class="item"><a href="#requerimientos">Requerimientos</a></li>
                                        <li class="item"><a href="#instalando-el-paquete">Instalando el paquete</a></li>
                                        <li class="item"><a href="#configuracion">Configuración</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#web-server-configuration" class="title">Web Server Configuration</a>
                                    <ul>
                                        <li><a href="#directory-configuration">Directory Configuration</a></li>
                                        <li><a href="#pretty-urls">Pretty URLs</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End submenu -->

                            
                        </div>
                    </div>
                    <!-- End contenido -->

                    <!-- Menú -->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">

                            <!-- Nav -->
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <!-- Item: Instalacion -->
                                <a class="nav-link scrollto" href="#installation-section">Instalación</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#item1">Item 1</a>
                                    <a class="nav-link scrollto" href="#item2">Item 2</a>
                                    <a class="nav-link scrollto" href="#item3">Item 3</a>
                                </nav>
                                <!-- End item instalacion -->
                            </nav>
                            <!-- End nav -->

                        </div>
                    </div>
                    <!-- End menu -->
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="footer text-center">
        <div class="container">
            <small class="copyright">Desarrollado <i class="fas fa-laptop-code text-primary"></i> por 
                <a href="https://uy.linkedin.com/in/ignaciomartins" target="_blank">Ignacio Martins</a> para developers
        </small>

        </div>
        <!--//container-->
    </footer>
    <!--//footer-->


    <!-- Main Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/plugins/stickyfill/dist/stickyfill.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

</body>

</html>